# Discord
DISCORD_BOT_TOKEN=your_token_here
GUILD_ID=your_guild_id
ROLE_ID=your_role_id
WEBHOOK_URL=your_webhook_url

# Projekt Hard
HARD_LOGIN=your_login
HARD_PASSWORD=your_password
HARD_PIN=your_pin

# Database (Railway automatycznie ustawia)
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Ustawienia
LIMIT=4
HEADLESS=true
